
{erl_opts, [debug_info]}.
{deps,[
  {yamerl,{git,"https://github.com/yakaz/yamerl.git",{branch, "master"}}} ,
  {worker_pool,{git,"https://bitbucket.org/natesh_c/worker_pool.git",{branch, "master"}}}
]}.
{relx, [{release, {locator_service, "1" },
  [crypto,yamerl,locator_service]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.
{cover_enabled, true}.